@font-face {
    font-family: Lora-Regular;
    src: url("./fonts/Lora-Regular.ttf");
    font-style: normal;
  }

  @font-face {
    font-family: Lora-Italic;
    src: url("./fonts/Lora-Italic.ttf");
    font-style: italic;
  }

body {
    font-family: Lora-Regular;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    background-image: url(./assets/background.svg);
    background-attachment: fixed;
    background-position: center top;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    padding-bottom: 40px;
}

header {
    background-color: #ffffff;
    padding: 40px;
  }

  nav {
    background-color: #f05d5d;
  
    /* shorthand goes in order of a clockface */
    padding: 20px 40px 20px 40px;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-right:  15px;
  }

  nav a:hover {
    color: #5000ff;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
  }
  
  section {
    background-color: #5000ff;
    padding: 40px;
  }

  .image {
    padding: 0;
  }

  h2 {
    font-size: 36px;
    line-height: 1.2;

  }

  blockquote {
    font-size: 36px;
    font-family: Lora-Italic;
    line-height: 1.2;
    padding: 40px 0px 40px 0px;
  }

.map {
  width: 100%;
}

.contact p {
  margin-top: 20px;
}

.contact a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #f05d5d;
  padding-bottom: 1px;
}

@media (max-width: 740px) {
 
  section,
  header,
  blockquote
  {
    padding: 20px;
  }
  
  nav {
    padding: 10px 20px 10px 20px;
  }
  
  h2, blockquote {
    font-size: 24px;
  }
  
  body {
    padding-top:  0;
    font-size: 16px;
  }
  
  nav a {
    display: block;
  }
  
  nav a:hover {
    border: none;
  }
  
}